<div class="container mt-5">
  <div class="row">
    <div class="col-6 align-self-center">
      <div class="card text-center">
        <div class="card-header">
          <h3>Registrate en la loteria</h3>
        </div>
        <div class="card-body">
          <h4 class="text-center">Registro</h4>
          <form>
            <div class="form-group">
              <label>Usuario:</label>
              <input type="text" [(ngModel)]="usuario" class="form-control" id="nombre_usuario" name="nombre_usuario">
            </div>
            <div class="form-group">
              <label>Password:</label>
              <input type="password" [(ngModel)]="password"  class="form-control" id="password" name="password">
            </div>
            <div class="form-group">
              <label>Confirmar password:</label>
              <input type="password"  class="form-control" id="password_repet" name="password_repet">
            </div>
            <div class="form-group">
              <a routerLink="/"> Iniciar sesion </a>
            </div>
            <button (click)="registrar()" type="button" class="btn btn-primary">Registrar</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col align-self-center">
      <img src="./assets/img/loteria-inicio.png" alt="...">
    </div>
  </div>
</div>
