<div class="container mt-5">

  <h2 class="text-center">Arma tu carta para el juego:</h2>

  <div class="row" cdkDropListGroup>
    <div class="col-12">
      <div class="container testimonial-group">
        <div class="row text-center"
             cdkDropList
             [cdkDropListData]="cartasnum"
             (cdkDropListDropped)="drop($event)">
          <img src="./assets/img/cartas/{{carta}}.jpg" cdkDrag style="width: 10%"
               *ngFor="let carta of cartasnum">
        </div>
      </div> 
    </div>
    
    <div  class="col-8  mt-5">
      <div *ngIf="mostrarcartauno" class="row">
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciouno"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%;" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciouno" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciodos"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciodos" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciotres"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciotres" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciocuatro"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciocuatro" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciocinco"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciocinco" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espacioseis"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espacioseis" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciosiete"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciosiete" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espacioocho"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espacioocho" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espacionueve"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espacionueve" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciodiez"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciodiez" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espacioonce"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espacioonce" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciodoce"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciodoce" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciotrece"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciotrece" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciocartoce"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciocartoce" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espacioquince"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espacioquince" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciodieziseis"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciodieziseis" cdkDrag>
        </div>
      </div>

      <div *ngIf="mostrarcartados" class="row">
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciouno2"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%;" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciouno2" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciodos2"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciodos2" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciotres2"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciotres2" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciocuatro2"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciocuatro2" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciocinco2"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciocinco2" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espacioseis2"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espacioseis2" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciosiete2"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciosiete2" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espacioocho2"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espacioocho2" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espacionueve2"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espacionueve2" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciodiez2"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciodiez2" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espacioonce2"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espacioonce2" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciodoce2"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciodoce2" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciotrece2"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciotrece2" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciocartoce2"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciocartoce2" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espacioquince2"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espacioquince2" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciodieziseis2"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciodieziseis2" cdkDrag>
        </div>
      </div>
      
      <div *ngIf="mostrarcartatres" class="row">
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciouno3"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%;" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciouno3" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciodos3"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciodos3" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciotres3"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciotres3" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciocuatro3"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciocuatro3" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciocinco3"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciocinco3" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espacioseis3"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espacioseis3" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciosiete3"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciosiete3" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espacioocho3"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espacioocho3" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espacionueve3"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espacionueve3" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciodiez3"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciodiez3" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espacioonce3"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espacioonce3" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciodoce3"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciodoce3" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciotrece3"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciotrece3" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciocartoce3"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciocartoce3" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espacioquince3"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espacioquince3" cdkDrag>
        </div>
        <div class="col-3 text-center" id="diseño-cuadricula"
             cdkDropList
             [cdkDropListData]="espaciodieziseis3"
             (cdkDropListDropped)="drop($event)">
          <img style="width: 60%" src="./assets/img/cartas/{{item}}.jpg" *ngFor="let item of espaciodieziseis3" cdkDrag>
        </div>
      </div>
      
    </div>

    <div class="col-4 mt-5">
      <div class="row">
        <div *ngIf="mostrarbtnentrar" class="col-12 mt-5">
          <button type="button"  (click)="entrarJuego()" class="btn btn-primary btn-block">Entrar a jugar</button>
        </div>
        <div *ngIf="mostrarbtn" class="col-12 mt-5">
          <button type="button" (click)="siguiente()" class="btn btn-primary btn-block">Siguiente carta</button>
        </div>
        <div class="col-12 mt-5">
          <button type="button" (click)="resetarTablero()" class="btn btn-primary btn-block">Resetear</button>
        </div>
        <div class="col-12 mt-5">
          <button type="button" (click)="cartaaleatoria()" class="btn btn-primary btn-block">Generar carta aleatoria</button>
        </div>
        
        
      </div>
    </div>
  </div>
</div>

