#diseño-cuadricula {
  border:solid #000000 2px;
  padding: 0px;
  background-color: aliceblue;
}

#diseño-cuadricula-juego {
  position:absolute;
  height:400px;
  width:300px;
  z-index: -1;
}

.frijol{
  width: 50%;
  position:absolute;
  right: 50px;
  z-index: 1;
}
