
<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="row">
    <div class="col-6 align-self-center offset-md-3">
      <div class="card text-center">
        <div class="card-header">
          <h3>Elige un sala:</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label>Nombre sala:</label>
              <input type="text" [(ngModel)]="nombresala" class="form-control" id="nombre_sala" name="nombre_sala">
            </div>
            <div class="form-group">
              <label>Cartas a jugar:</label>
              <select [(ngModel)]="numeroCarta" name="numeroCartas" id="numeroCartas" class="form-control">
                <option value="1">Una carta</option>
                <option value="2" >Dos cartas</option>
                <option value="3" >Tres cartas</option>
              </select>
            </div>
            <button (click)="unirsesala()" type="button" class="btn btn-primary">Unirse</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
