
<div class="container mt-5">
  <div class="row">
    <div class="col-6 align-self-center offset-md-3">
      <div class="card text-center">
        <div class="card-header">
          <h3>Bienvenidos a la loteria</h3>
        </div>
        <div class="card-body">
          <h4 class="text-center">Inicia sesión</h4>
          <form>
            <div class="form-group">
              <label>Usuario:</label>
              <input type="text" [(ngModel)]="usuario" class="form-control" id="nombre_usuario" name="nombre_usuario">
            </div>
            <div class="form-group">
              <label>Contraseña:</label>
              <input type="password" [(ngModel)]="password"  class="form-control" id="password" name="password">
            </div>
            <div class="form-group">
              <a routerLink="/registrar"> Registrate </a>
            </div>
            <button (click)="login()" type="button" class="btn btn-primary">Iniciar sesion</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
