
<div class="container mt-5">
  <div class="row">
    <div class="col-8 align-self-center offset-md-2">
      <div class="card text-center">
        <div class="card-header">
          <h3>Bienvenidos a la loteria</h3>
        </div>
        <div class="card-body">
          <h4 class="text-center">Salas</h4>
          <div class="row">
            <div class="col-6">
              <button [routerLink]="['/salas','crear']"  type="button" class="btn btn-primary"> Crear sala</button>
            </div>
            <div class="col-6">
              <button [routerLink]="['/salas']"  type="button" class="btn btn-primary">Unirte a una sala</button>
            </div>
          </div>
        </div>
        <h3 class="mt-2">Mejores Jugadores</h3>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Usuario</th>
              <th scope="col">Llena</th>
              <th scope="col">Centro</th>
              <th scope="col">Loteria</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of data; let i = index" >
              <th scope="row">{{ i }}</th>
              <td>{{ usuario.user }}</td>
              <td>{{ usuario.full_wins }}</td>
              <td>{{ usuario.center_wins  }}</td>
              <td>{{ usuario.lottery_wins  }}</td>
              <td>{{ usuario.total  }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>
</div>
